<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="content-language" content="fr">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <%# <base href="https://www.soins-magnetiseur-marseille.fr/"> %>
    <meta name="rights" content="Webdesign by Christophe JULLIEN magnetiseur">
    <meta name="lang" content="fr-FR">
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta name="description" content="Thérapeute magnétiseur et énergéticien à Marseille, à Paris, à Lyon, à Bordeaux, à distance dans toute la France et dans le monde entier">
    <meta name="author" content="Jullien Christophe, magnétiseur à Marseille">
    <meta property="og:description" content="Magnétiseur et énergéticien, à Marseille, dans toute la France et le monde entier.">
    <meta property="og:title" content="Magnétiseur à Marseille">
    <meta property="og:site_name" content="Christophe Magnétiseur"/>

    <%# <link rel="canonical" href="https://www.soins-magnetiseur-marseille.fr/"> %>
    <%# <meta property="og:url" content="https://www.soins-magnetiseur-marseille.fr/"> %>
    <meta name="google" content="nositelinkssearchbox">
    <meta name="referrer" content="unsafe-url">
    <meta property="og:type" content="soin magnétiseur énergéticien marseille">
    <meta name="keywords" content="magnétiseur marseille, soin marseille, soin magnétiseur, soin énergétique, soin énergétique marseille, soin magnétiseur marseille,méthode Poyet,osthéofluidique,méthode Poyet marseille,osthéofluidique marseille, osthéopathe, osthéopathe marseille">
    <title>
      Magnétiseur à Marseille
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav class="nav">
        <div class="container">

            <div class="logo">
                <%= link_to 'Christophe, magnétiseur', magnetiseur_marseille_path %>
                <p class="logo">06 19 94 07 24</p>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><%= link_to 'Accueil', root_path %></li>
                    <li><%= link_to 'Prestations', soins_magnetiseur_marseille_path %></li>
                    <li><%= link_to 'Me Contacter', contact_magnetiseur_path %></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
</nav>
 <%= yield %>

<div class="footer">
<p>Site web proluslsé par <%= link_to 'Christophe JULLIEN', magnetiseur_marseille_path %></p>
</div>
  <div class="footer-2">
    <h3><%= link_to 'Mention Légale', mentions_legales_path %> | <%# <%= link_to 'CGV', cgv_path %>  <%# <%= link_to 'Cookies', cookies_path %>
         <%= link_to 'Contact', contact_magnetiseur_path %> | <%= link_to 'Témoignages', temoignage_path %>
    | <%= link_to 'Vos questions', vos_questions_path %></h3>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script>


    <%# <script src="js/scripts.js"></script> %>
    <%# <script src="main.js"></script> %>

  </body>
</html>
