<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Magnétiseur à Marseille</title>
    <meta name="description" content="Thérapeute magnétiseur et énergéticien à Marseille,
                             à Paris, à Lyon, à Bordeaux, à distance dans toute la France et dans le monde entier">
    <meta name="author" content="Jullien Christophe, magnétiseur à Marseille">
    <meta name="robots" content="index, follow">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>


    <script src="main.js"></script>
  </body>
</html>
